<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
<run>
<include name="smokeTest"></include>
<include name="regressionTest"></include>
</run>
</groups>
<listeners>
<listener class-name="com.crm.generic.ListenerUtility.ListImp"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <classes>
  <class name="organisation.CreateOrganisatonTest"></class>
  <class name="organisation.CreateOrganisationWithIndustryTest"></class>
  <class name="contact.CreateContactWithLastNameTest"></class>
  <class name="contact.CreateContactWithOrganisationTest"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
